@tailwind base;
@tailwind components;
@tailwind utilities;

#__nuxt, #__layout, html, body {
  height: 100% !important;
  width: 100% !important;
}

// Use the color in RGB format ( for can have the opacity )

html.light {
  --color-primary: 100, 217, 138;
  --color-background: 248, 248, 248;
  --color-second: 255, 255, 255;
  --color-text: 19, 17, 19;
}

html.dark {
  --color-primary: 100, 217, 138;
  --color-background: 19, 17, 19;
  --color-second: 28, 28, 30;
  --color-text: 248, 248, 248;
}
